In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
# import the data
data = pd.read_csv("train.csv")
data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
data.shape

(42000, 785)

In [13]:
data = data.sample(frac=1)
data

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
10452,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11333,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35552,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9049,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24515,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20384,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41076,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25991,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1296,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13723,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
data=np.array(data)
data

array([[6, 0, 0, ..., 0, 0, 0],
       [5, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0],
       ...,
       [2, 0, 0, ..., 0, 0, 0],
       [9, 0, 0, ..., 0, 0, 0],
       [3, 0, 0, ..., 0, 0, 0]])